﻿html {
  font-family: arial;
  background-color: white;
}

table {
  width: 100%;
  border-style: none;
} 

.nav {
  background-color: black;
  color: #ffffff;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.nav a {
  color: #dddddd;
} 

.nav a:hover {
  color: #999999;
  font-weight: bold;
}

.article {
  margin: 5%;
}

.article h2,h3 {
  text-align: center;
}

.menu {
  text-align: center;
  width: 25%;
  margin: 20px 60px;
  padding: 5px;
  float: right;
}

#mapid {
  width: 800px;
  height: 500px;
  margin: 10px;
  padding: 5px;
  float: left;
}

.graph {
  width: 30%;
  margin: 10px;
  padding: 5px;
  float: left;
}

@media screen and (max-width: 600px) {
  .graph {
    width: 40%;
  }
  .carte {
    width: 90%;
  }
  .menu {
    width: 90%;
    float: default;
    justify-content: center;
  }
}

